# Atari 2600 (Stella) support for multiple assemblers
# - DASM
# - CC65

# Assembled binaries and object directories
obj/
a.out
*.bin
*.a26
*.lst
*.sym

# Add in special Atari 7800-based binaries for good measure
*.a78

# Disassembly work (derived from copyrighted commercial ROMs)
combat-src/
roms/

# Reference manual (copyrighted Atari document — kept locally, not redistributed)
Stella_Programmers_Guide_*.pdf

# macOS junk
.DS_Store
